.Modal {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ModalInner {
  width: 780px;
  height: 302px;
  background: white;
  border-radius: 32px;
  padding: 37px 0px 0px 60px;
}
.ModalTitle {
  height: 137px;
  display: flex;
}
.ModalTitle img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 52px;
}
.ModalTitle span {
  font-weight: 400;
  font-size: 35px;
  line-height: 43px;
  color: black;
}
.ModalInner button {
  width: 160px;
  height: 52px;
  border-radius: 0 8px 8px 0;
  background: #ad02e0;
  color: white;
}
.ModalInner button:hover {
  background: #ad02e0;
}
.ModalInner button:active {
  background: #740994;
}
.ModalInput {
  width: 500px;
  height: 52px;
}
.ModalInput input {
  padding: 0 0 0 20px;
  width: 500px;
  height: 52px;
}
.ModalInput div {
  border-radius: 8px 0px 0px 8px;
  padding-right: 10px !important;
}
