.Card {
  padding: 0 !important;
}
.Card a {
  text-decoration: none;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 5.73%,
    rgba(0, 0, 0, 0.5) 66.15%
  );
  border-radius: 16px;
}
.CardInner {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 5.73%,
    rgba(0, 0, 0, 0.5) 66.15%
  );
  border-radius: 16px;
  padding-top: 141px;
  padding-left: 10px;
  width: 190px !important;
  height: 220px !important;
  overflow: hidden;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.CardInner p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: white;
  margin-top: 11px;
}

.CardInner span {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: white;
}
